.gridHundred{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10 ,1fr);
  
}
.people::before{
  content:  attr(data-number) ;
  position:absolute;
  margin-top: 18px;
  margin-left: 15px;
  font-weight: bolder;
  background-color: transparent;
}

.box{

}
.box::before{
  content: attr(data-key);
  position: absolute;
    margin-top: 22px;
    margin-left: 12px;
    font-weight: bolder;
    background-color: transparent;

}